# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS / Editor files
.DS_Store
.vscode/

# Logs
*.log
